@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 10px 250px;
    color: #545454;
    font-family: 'Poppins', sans-serif;
}

/* Page Home/Hero */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 30px 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #4F200D;
}

nav ul li a:hover {
    text-decoration: underline;
}

.home-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 150px;
}

#greet-hero p {
    font-size: x-large;
    margin: 10px 0;
}

#greet-hero h1 {
    font-size: 45px;
    color: #4F200D;
}

#button-hero button {
    color: azure;
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
    padding: 15px 45px;
    border-radius: 10px;
    background-color:#4F200D;
    border: 0;
    
}

#button-hero button:hover {
    color: #545454;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #545454;

}