@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 10px 250px;
    color: #545454;
    font-family: 'Poppins', sans-serif;
}

/* Page Home/Hero */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 30px 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #4F200D;
}

nav ul li a:hover {
    text-decoration: underline;
}